[submodule "vendored/raylib"]
	path = vendored/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendored/quill"]
	path = vendored/quill
	url = https://github.com/odygrd/quill.git
[submodule "vendored/entt"]
	path = vendored/entt
	url = https://github.com/skypjack/entt.git
